(
    schema_version: 1,
    scene_basename: None,
    scene_hash: None,
    graph_fingerprint: Some("sha256:581e1b707707d876fb6f894ad57d53c376661d8e58c9fa22fdd08091ebcb57c4"),
    viewport: Some((
        pan: (504.0, 21.0),
        zoom: 1.0,
    )),
    nodes: {
        "AppStateMachine|Menu": (
            pos: (145.0, 148.0),
            collapsed: false,
        ),
        "|AppStateMachine": (
            pos: (100.0, 100.0),
            collapsed: false,
        ),
        "AppStateMachine|Paused": (
            pos: (147.0, 374.0),
            collapsed: false,
        ),
        "AppStateMachine|Playing": (
            pos: (146.0, 260.0),
            collapsed: false,
        ),
    },
    edges: {
        "AppStateMachine|Paused -> AppStateMachine|Playing|Resume": (
            pill_center: (273.84375, 349.0),
        ),
        "AppStateMachine|Menu -> AppStateMachine|Playing|Start": (
            pill_center: (214.20313, 231.0),
        ),
        "AppStateMachine|Playing -> AppStateMachine|Paused|Pause": (
            pill_center: (154.34375, 343.0),
        ),
    },
)