(
  resources: {},
  entities: {
    4294967213: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (154618822572),
        "bevy_ecs::name::Name": "OnComplete",
        "bevy_gearbox::transitions::EdgeKind": External,
        "bevy_gearbox::transitions::EventEdge<repeater::OnComplete>": (
          validator: None,
        ),
        "bevy_gearbox::transitions::ResetEdge": (Source),
        "bevy_gearbox::transitions::Source": (4294967218),
        "bevy_gearbox::transitions::Target": (4294967219),
      },
    ),
    4294967214: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (154618822572),
        "bevy_ecs::name::Name": "CastAbility",
        "bevy_gearbox::transitions::EdgeKind": External,
        "bevy_gearbox::transitions::EventEdge<repeater::CastAbility>": (
          validator: None,
        ),
        "bevy_gearbox::transitions::Source": (4294967219),
        "bevy_gearbox::transitions::Target": (4294967218),
      },
    ),
    4294967215: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (51539607468),
        "bevy_ecs::name::Name": "OnRepeat",
        "bevy_gearbox::transitions::EdgeKind": External,
        "bevy_gearbox::transitions::EventEdge<repeater::OnRepeat>": (
          validator: None,
        ),
        "bevy_gearbox::transitions::Source": (4294967218),
        "bevy_gearbox::transitions::Target": (4294967217),
      },
    ),
    4294967216: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (51539607468),
        "bevy_ecs::name::Name": "Always",
        "bevy_gearbox::transitions::Delay": (
          duration: (
            secs: 1,
            nanos: 0,
          ),
        ),
        "bevy_gearbox::transitions::AlwaysEdge": (),
        "bevy_gearbox::transitions::EdgeKind": External,
        "bevy_gearbox::transitions::Source": (4294967217),
        "bevy_gearbox::transitions::Target": (4294967218),
      },
    ),
    4294967217: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (51539607468),
        "bevy_ecs::name::Name": "WaitOneSecond",
        "bevy_gearbox::SubstateOf": (4294967220),
        "bevy_gearbox::transitions::Transitions": ([
          4294967216,
        ]),
      },
    ),
    4294967218: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (51539607468),
        "bevy_ecs::name::Name": "Repeat",
        "bevy_gearbox::SubstateOf": (4294967220),
        "bevy_gearbox::transitions::Transitions": ([
          4294967215,
          4294967213,
        ]),
        "repeater::Repeater": (
          remaining: 5,
          initial: 5,
        ),
      },
    ),
    4294967219: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967212),
        "bevy_ecs::name::Name": "Ready",
        "bevy_gearbox::SubstateOf": (4294967220),
        "bevy_gearbox::transitions::Transitions": ([
          4294967214,
        ]),
      },
    ),
    4294967220: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967212),
        "bevy_ecs::name::Name": "Repeater",
        "bevy_gearbox::InitialState": (4294967219),
        "bevy_gearbox::StateMachine": (),
        "bevy_gearbox::StateMachineId": ("repeater"),
        "bevy_gearbox::Substates": ([
          4294967219,
          4294967218,
          4294967217,
        ]),
        "repeater::AbilityMachine": (),
      },
    ),
  },
)