(
    schema_version: 1,
    scene_basename: None,
    scene_hash: None,
    graph_fingerprint: Some("sha256:c42c0cb67be72e0ac64889c5f123a1de0ff6ef2c1416b3169458460dac97ff4b"),
    viewport: Some((
        pan: (486.0, 40.0),
        zoom: 1.0,
    )),
    nodes: {
        "|Repeater": (
            pos: (100.0, 100.0),
            collapsed: false,
        ),
        "Repeater|Ready": (
            pos: (170.0, 148.0),
            collapsed: false,
        ),
        "Repeater|Repeat": (
            pos: (167.0, 248.0),
            collapsed: false,
        ),
        "Repeater|WaitOneSecond": (
            pos: (168.0, 347.0),
            collapsed: false,
        ),
    },
    edges: {
        "Repeater|WaitOneSecond -> Repeater|Repeat|Always": (
            pill_center: (303.5, 328.0),
        ),
        "Repeater|Repeat -> Repeater|WaitOneSecond|OnRepeat": (
            pill_center: (165.70313, 328.0),
        ),
        "Repeater|Repeat -> Repeater|Ready|OnComplete": (
            pill_center: (299.84375, 229.0),
        ),
        "Repeater|Ready -> Repeater|Repeat|CastAbility": (
            pill_center: (166.8125, 227.0),
        ),
    },
)